body, html { 
    background:black;
    margin:0;
    padding:0;
}

.Artum-header {
    background-color: darkslategrey;
    text-align: center;
    padding: 20px;
    font-family: 'Acme', sans-serif;
    position: relative;
    z-index: 15;
}

.village-title {
    color: white;
}

.Artum-content {
    background-color: darkgray;
    padding: 20px;
    margin: 10px auto;
    max-width: 250px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    position: absolute;
    right: 2%;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    height: 200px;
    overflow-y: auto;
    z-index: 10;
    text-shadow: 2px 2px 4px #000000;
}

.button-container {
    position: absolute;
    right: 2%;
    top: 70%;  /* Adjusted from 60% to 70% */
    transform: translateY(-50%);
    z-index: 20;
}

.header-button, .main-menu {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: darkslategrey;
    color: white;
}

.header-button:hover, .main-menu:hover {
    background-color: darkgray;
}

.fishing-button, .walk-back-button, .to-the-lake, .search-rocks, .to-fishmonger, .back-to-village, .to-the-village, .follow-dirt-track, .back-to-the-plains {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: grey;
    color: white;
}

.fishing-button:hover, .walk-back-button:hover, .to-the-lake:hover, .search-rocks:hover, .to-fishmonger:hover, .back-to-village:hover, .to-the-village:hover, .follow-dirt-track:hover, .back-to-the-plains:hover {
    background-color: darkgray;
}

.small-village, .fishmonger-house {
    width: 100%;
    position: relative;
    z-index: 5;
    top: 15%;
}

.hidden {
    display: none;
}

/* Specific styles for different sections */
.Lake-title, .Artum-title {
    color: white;
}

/* Image container styling */
.Plains img, .lakeside img, .small-village img {
    width: 100%;
    height: auto;
}

.moving-around {
    text-align: center;
    margin-top: 20px;
}